<h1><%= @muscle_group.name %></h1>

<% @muscle_group.exercises.each do |exercise| %>
<p>
  <a href="<%= exercise_path(exercise.id) %>"><%= exercise.name %></a>
</p>
<% end %>

<%= link_to 'Back', muscle_groups_path %>
